extends layout

append head
    link(rel='stylesheet', href='/cillmit99b/api.css')

block content
    h2.pageh1 API
    p
        |The #{siteName} API has four available endpoints. 
        |All of the API endpoints return JSON.
    
    h3 API User Authentication

    p.
        You can authenticate users for API calls by using OAuth 2. Here are the instructions for how to use our OAuth 2 setup:
    
    p.
        #[b Step 1:] Sign up, log in and go to app IDs in the settings. Register your app by specifying a name and a redirect URI. Once you register your app the client ID will show. You will need to use the client ID and redirect URI in later steps.
    
    p.
        #[b Step 2:] In the app you're building, make the login button display this page in the browser:
    
    p.
        https://www.commentcastles.org/oauth/authorize?client_id=xxx&state=yyy&response_type=code&redirect_uri=zzz
    
    p.
        Replace xxx with your client ID, replace yyy with a state value (it can be anything), and fill in zzz with your redirect URI (it must match the redirect URI from step 1).
    
    p.
        When a user visits the above URL they have to click a confirm button.
    
    p.
        #[b Step 3:] When a user clicks the confirm button they will be redirected to your redirect URI with a state variable and a code variable in the URL. The code variable is an authorization code. The app you're building now requests POST /oauth/token. Here is the request in PowerShell: 
    
    p.
        Invoke-WebRequest -Uri https://www.commentcastles.org/oauth/token -Method POST -Body @{client_id='xxx';grant_type='authorization_code';code='yyy';redirect_uri='zzz'}
    
    p.
        Replace xxx with your client ID, replace yyy with the authorization code that was in the URL, and use your redirect URI for zzz. If successful, the above URL request will return JSON that contains an access token.

    p.
        #[b Step 4:] Now you can pass the access token to API calls and it will be as if a user is logged in. For example, in PowerShell:

    p.
        Invoke-RestMethod -Method Get -Uri "https://www.commentcastles.org/api/v1/posts" -Headers @{Authorization='Bearer xxx'}
    
    p.
        Replace xxx with your access token obtained from step 3.
    
    h3 API Endpoints

    p.
        All of the API calls, except for /ping, accept an optional #[em viewmode] variable in the URL.
        If #[em viewmode] is #[em "discover"] then the discover view mode is used.
        If any other value is used for #[em viewmode] then the locked view mode is used.
        You can read more about how view mode works in the
        #[a(href="/manual#settings") settings section of the instruction manual].

    p
        |Here is a description of each call:

    h4 GET /api/v1/ping

    p.
        This returns a single #[em pnsid] variable that is the empty string. 
        The new-node #[a(href="/manual#action-groups") action group] uses this API endpoint 
        to identify Peaches 'n' Stink instances. Here's the URL:

    p
        a(href="/api/v1/ping") /api/v1/ping

    h4 GET /api/v1/posts

    p.
        This returns all posts.
        The data is paginated at 20 records per page.
        You can use #[em p], #[em viewmode] and #[em sort] variables in the URL.
        #[em p] is for page and it starts at 1.
        #[em sort] can be either #[em newest], #[em oldest], #[em comments] or #[em last] -
        the default is #[em newest].
        There is more info about post sorting in the #[a(href="/manual#posts") posts section] of the manual.
        Examples of this endpoint:

    p
        a(href="/api/v1/posts") /api/v1/posts

    p
        a(href="/api/v1/posts?p=2") /api/v1/posts?p=2

    p
        a(href="/api/v1/posts?viewmode=discover") /api/v1/posts?viewmode=discover

    p
        a(href="/api/v1/posts?viewmode=discover&p=2") /api/v1/posts?viewmode=discover&p=2

    p
        a(href="/api/v1/posts?sort=comments") /api/v1/posts?sort=comments

    p
        a(href="/api/v1/posts?sort=last&viewmode=discover&p=2") /api/v1/posts?sort=last&viewmode=discover&p=2

    h4 GET /api/v1/post

    p.
        This call will return a single post and its comments.
        You can use #[em postid], #[em viewmode] and #[em p] variables in the URL.
        #[em postid] is required.
        #[em p] is for comment pagination and it starts at 1, there are #{commentsPerPage} comments per page.
        Examples of this endpoint:

    p
        a(href="/api/v1/post?postid=SxqYZnDk26oisgSCS9bTjN") /api/v1/post?postid=SxqYZnDk26oisgSCS9bTjN

    h4 GET /api/v1/comment

    p.
        This call will return a single comment and its child comments.
        You can use #[em commentid], #[em viewmode] and #[em p] variables in the URL.
        #[em commentid] is required.
        #[em p] is for comment pagination and it starts at 1, there are #{commentsPerPage} comments per page.
        Examples of this endpoint:

    p
        a(href="/api/v1/comment?commentid=utePeJTWFGjstaQfbVntPn") /api/v1/comment?commentid=utePeJTWFGjstaQfbVntPn
