extends layout

append head
    link(rel='stylesheet', href='/billnit88a/api.css')

block content
    h2 API
    p
        |The Peaches 'n' Stink API has three available endpoints. 
        |All of the API endpoints return JSON. 
        |We do not have any user authentication for the API, 
        |thus it's currently limited to read only using stink's following list.

    p.
        All of the API calls accept an optional #[em viewmode] variable in the URL.
        If #[em viewmode] is #[em "discover"] then the discover view mode is used.
        If any other value is used for #[em viewmode] then the locked view mode is used.
        You can read more about how view mode works in the
        #[a(href="/manual#settings") settings section of the instruction manual].

    p
        |Here is a description of each call:

    h3 GET /api/v1/posts

    p.
        This will return all posts in reverse chronological order.
        The data is paginated at 15 records per page.
        You can use #[em p] and #[em viewmode] variables in the URL.
        #[em p] is for page and it starts at 1.
        Examples of this endpoint:

    p
        a(href="/api/v1/posts") /api/v1/posts

    p
        a(href="/api/v1/posts?p=2") /api/v1/posts?p=2

    p
        a(href="/api/v1/posts?viewmode=discover") /api/v1/posts?viewmode=discover

    p
        a(href="/api/v1/posts?viewmode=discover&p=2") /api/v1/posts?viewmode=discover&p=2

    h3 GET /api/v1/post

    p.
        This call will return a single post and its comments.
        You can use #[em postid] and #[em viewmode] variables in the URL.
        #[em postid] is required.
        Examples of this endpoint:

    p
        a(href="/api/v1/post?postid=SxqYZnDk26oisgSCS9bTjN") /api/v1/post?postid=SxqYZnDk26oisgSCS9bTjN

    h3 GET /api/v1/comment

    p.
        This call will return a single comment and its child comments.
        You can use #[em commentid] and #[em viewmode] variables in the URL.
        #[em commentid] is required.
        Examples of this endpoint:

    p
        a(href="/api/v1/comment?commentid=utePeJTWFGjstaQfbVntPn") /api/v1/comment?commentid=utePeJTWFGjstaQfbVntPn
