mixin bbCodes(text)
    -
        text = text.replace(/&/g, '&amp;').replace(/</g, '&lt;').replace(/>/g, '&gt;')

        //
        const urlRegex = /\[([^\[\]]*)\]((https?|ftp|file):\/\/[-A-Z0-9+&@#\/%?=~_|!:,.;]*[-A-Z0-9+&@#\/%=~_|])/ig;

        text = text.replace(
            urlRegex,
            function(all, label, url) {
                const title = (label === '') ? url : label
                return '<a href="' + url + '">' + title + '</a>'
            }
        )

        //
        let lines = text.split(/\r\n|\r|\n/)
        let preOpens = []
        let preCloses = []
        let isInPre = false

        for(let i = 0; i < lines.length; ++i) {

            //
            if(!isInPre && lines[i] === "```pre") {
                preOpens.push(i)
                isInPre = true
            }

            //
            if(isInPre && lines[i] === "```") {
                preCloses.push(i)
                isInPre = false
            }
        }

        //
        let content = ''
        isInPre = false

        for(let i = 0; i < lines.length; ++i) {
            if(preOpens.indexOf(i) != -1) {
                content += '<pre>'
                isInPre = true
            }
            else if(preCloses.indexOf(i) != -1) {
                content += '</pre>'
                isInPre = false
            }
            else {
                content += lines[i]

                if(i != lines.length - 1) {
                    content += isInPre
                        ? "\r\n"
                        : '<br>'
                }
            }
        }

    |!{content}
