extends group

block content2
    h1 moderate
    nav.group-moderate-nav
        ul
            li
                a(href=`/g/${name}/moderate`) moderate home
            li
                a(href=`/g/${name}/moderate/posts`) posts

    div moderate home page
