extends group-admin

block content3
    - const isViewAnyone = group_view_mode == 'anyone'
    - const isViewMembers = group_view_mode == 'members-only'

    if errors.length
        ul
            each error in errors
                li #{error.msg}
    div Group Viewing Mode
    form(method="post")
        div
            input(type="radio" name="group_view_mode" id="group_view_mode0" value="anyone" checked=isViewAnyone)
            label(for="group_view_mode0") anyone can view

        div
            input(type="radio" name="group_view_mode" id="group_view_mode1" value="members-only" checked=isViewMembers)
            label(for="group_view_mode1") only members can view

        input(type="submit" value="Update")
