extends group-admin

block content3
    if errors.length
        ul
            each error in errors
                li #{error.msg}

    form(method="post")
        input(name="username" placeholder="username")
        input(type="submit" value="Add as Moderator")

    if mods.length
        table
            each m in mods
                tr
                    td #{m.username}
                    td
                        form(method="post")
                            input(type="submit" value="Remove")
                            input(type="hidden" name="remove_mod_user_id" value=`${m.user_id}`)
