extends group

block content2
    h1 admin
    nav.group-admin-nav
        ul
            li
                a(href=`/g/${name}/admin`) admin home
            li
                a(href=`/g/${name}/admin/add-member`) add member
            li
                a(href=`/g/${name}/admin/settings`) settings

    block content3
