extends layout

block content
    h1 g/#{name}
    nav.post-nav
        ul
            li
                a(href=`/g/${name}`) posts
            li
                a(href=`/g/${name}/new`) new post
            li
                a(href=`/g/${name}/admin`) admin

    block content2
