extends layout

append head
    if comment_reply_mode == 'quick'
        script(src="/javascripts/shared.js")

include bbCodes.pug
include userContent.pug

block content
    - const pagePart = page < 2 ? '' : `?p=${page}`
    - const followGoto = encodeURIComponent(`/inbox${pagePart}`)

    if is_discover_mode
        div
            span(class="alert1")
                |Showing all comments. 
                a(href=`/settings?viewmode=locked&goto=/inbox`) Switch to locked
                |.
    else
        div
            span(class="alert1")
                |Some comments may be hidden. 
                a(href=`/settings?viewmode=discover&goto=/inbox`) Show all
                |.

    if comments.length
        .comments
            ul
                for c in comments
                    li
                        +ucListComment(c, user, followGoto, comment_reply_mode)
        div
            a(href=`/inbox?p=${page + 1}`) more
    else
        span no comments
