extends layout

block content
    ul
        li
            a(href="#what") What is Peaches 'n' Stink?
        li
            a(href="#posts") Posts
        li
            a(href="#comments") Comments
        li
            a(href="#inbox") Inbox
        li
            a(href="#formatting") Formatting
        li
            a(href="#tags") Tags
        li
            a(href="#following") Following
        li
            a(href="#settings") Settings
        li
            a(href="#editing") Editing
        li
            a(href="#privacy-policy") Privacy Policy
        li
            a(href="#api") API

    h2#what What is Peaches 'n' Stink?
    p
        |Peaches 'n' Stink is a general purpose Internet forum that has posts and nested comments. 
        |You must follow/add a user in order to see their posts and comments.

    h2#posts Posts
    p
        |Posts are the main way to submit content. 
        |All topics are allowed(unless illegal). 
        |You must be logged in to create a post. 
        |Use  
        a(href="/new") new post
        | 
        |in the site navigation to go to the create post form. 
        |Posts have a title, link, content and tags. 
        |Only title is required.

    h2#comments Comments
    p
        |You can write comments on posts and other comments. 
        |You must be logged in to create a comment. 
        |If you're logged in, then there's a comment form at the top of each post and comment page, and 
        |there are "reply" links below each comment.

    h2#inbox Inbox
    p
        |The 
        a(href="/inbox") inbox
        | 
        | shows all comments that have been made directly on your posts and comments.

    h2#formatting Formatting
    p
        |There are two formatting rules for posts and comments:
        ul
            li
                |All newlines are automatically preserved.
            li
                |You can use 
                i ```pre
                | 
                |and 
                i ```
                | 
                |to preserve spaces/whitespace for a group of lines. 
                i ```pre
                | 
                |must come first on its own line and 
                i ```
                | 
                |must come last on its own line. 
                |All whitespace in between will be preserved. 
                |This is intended for writing computer programming source code.

    h2#tags Tags
    p
        |When you create a post you can assign tags to it. 
        |All the tags assigned to a post are displayed right after the post time; 
        |you can click these tags to go to that tag's page. 
        |All posts with the same tag are grouped together. 
        |For example, all posts tagged "meta" are available at 
        a(href="/r/meta") r/meta
        |.

    h2#following Following
    p
        |On the right side of usernames there is a plus or minus button. 
        |You can follow the respective user with the plus button. 
        |The minus button unfollows. 
        |You can only see posts and comments that have been posted by users that you're following. 
        |You can manage who you're following by using 
        a(href="/following") following
        | 
        |in the site navigation(if you're logged in).

    h2#settings Settings
    p
        |You can access the 
        a(href="/settings") settings
        | 
        |in the site navigation. 
        |You can use the settings even if you're logged out. 
        |The available settings are:
        ul
            li
                b Time Zone
                |: this will adjust the time that is displayed for each post and comment.
            li
                b Followed Users
                |: this determines which list of users you use to reveal posts and comments; 
                |you can only see posts and comments made by users on this list.
            li
                b View Mode
                |: this affects how posts and comments display that are from unfollowed users; 
                |"locked" completely hides these posts and comments, while "discover" will show these posts and 
                |comments but only with the username and time. There is a shortcut to toggle this option at the top of
                |every list of posts and comments.
            li
                b Replying to Comments
                |: this affects how the comment reply links work. If you select "basic" then 
                |comment reply links will take you to a comment form on a different page. If you select 
                |"quick" then comment reply links will immediately open a comment form under the reply link. 
                |The default is "quick". This is only for logged in users.

    h2#editing Editing
    p
        |You can edit your posts and comments anytime you want. 
        |For posts, the edit link is to the right of the comment count. 
        |And for comments the edit link is to the right of the permalink and reply links. 
        |Currently there is no delete post or delete comment - but you can delete content via editing.

    h2#privacy-policy Privacy Policy
    p
        |Please see our 
        a(href="/privacy-policy") privacy policy here
        |.

    h2#api API
    p
        |We have an API, please see the 
        a(href="/api") API documentation here
        |.
