doctype html
html
  head
    meta(charset="utf-8")
    meta(name="viewport" content="width=device-width, initial-scale=1")
    title=html_title
    link(rel='stylesheet', href='/stylesheets/style.css')
    block head
  body
    header
      h1.main-logo
        a(href="/")
          span(id="peaches") Peaches
          | 
          |'n'
          | 
          span(id="stink") Stink
      nav.main-nav
        ul
          li
            a(href="/") home
          li
            a(href="/tags") tags

          if user
            li
              a(href="/new") new post
            li
              a(href="/following") following
            li
              a(href="/settings") settings
            li
              a(href="/logout") log out
            li #{user.username}
          else
            li
              a(href="/sign-up") sign up
            li
              a(href="/login") log in
    main
      block content
