doctype html
html
  head
    title=title
    link(rel='stylesheet', href='/stylesheets/style.css')
  body
    header
      h1 Conversi
      nav
        a(href="/") home
        if user
          a(href="/logout") log out
          span #{user.username}
        else
          a(href="/sign-up") sign up
          a(href="/login") log in
    main
      block content
