extends my-settings-top

block content2
    if errors.length
        ul
            each error in errors
                li #{error.msg}

    form(method="post")
        div
            label(for="user") Username
            input(name="user" id="user")
        div
            input(type="submit" value="Add")
