extends my-settings-top

block head
    link(rel='stylesheet', href=`${cssDir}/my-settings-sensitive.css`)

block content2

    if success
        ul.usuccess1
            li=success

    if errors.length
        ul.uerror1
            each error in errors
                li #{error.msg}

    form(method="post")
        div
            label(for="username") Username
            input(name="username" id="username" value=username)
        div
            label(for="password") Existing Password
            input(name="password" id="password" type="password" )
        div
            input(type="submit" value="Save")
