extends layout

block content
    h1 Settings

    if user
        nav.settings-nav
            ul
                li
                    a(href="/settings") general
                li
                    a(href="/settings/username") username
                li
                    a(href="/settings/groups") groups
                li
                    a(href="/settings/app-ids") app IDs
    div
        block content2
