extends my-settings-top

append head
    link(rel='stylesheet', href='/cillmit99b/my-settings-groups.css')

block content2
    h3 Create New Private Group

    if errors.length
        ul.uerror1
            each error in errors
                li #{error.msg}

    form(method="post")
        div
            label(for="group") Group
            input(name="group" id="group")
        div
            input(type="submit" value="Create")

    h3 Your Created Private Groups

    if created_groups.length
        ul
            each cg in created_groups
                li
                    a(href=`/r/${cg.name}`)= cg.name
                    | 
                    a(href=`/settings/group?name=${cg.name}`) [settings]
    else
        div None

    h3 Other Private Group Memberships

    if member_groups.length
        ul
            each mg in member_groups
                li
                    a(href=`/r/${mg.name}`)= mg.name
    else
        div None
