extends layout

append head
    link(rel='stylesheet', href='/cillmit99b/network.css')

block content
    h2.pageh1 Network

    p
        |These are all the network nodes that this node knows about 
        |from the new-node action.

    table(class="nodes")
        tr
            th Date Added
            th Site

        each node in nodes
            tr
                td=node.created_on
                td
                    a(href=node.node_url)=node.node_url
