extends group

block head
    link(rel='stylesheet', href='/stylesheets/new-post.css')

block content2
    if can_post
        if errors.length
                ul
                    each error in errors
                        li #{error.msg}
        form(method="post")
            input(placeholder="title" name="title" value=`${title}`)
            input(placeholder="link" name="link" value=`${link}`)
            textarea(placeholder="text content" name="text_content" id="text_content") #{textContent}
            input(type="submit" value="Create Post")
    else
        |You don't have permission to post here.