extends group

append head
    link(rel='stylesheet', href='/miletoots11/new-post.css')

block content2
    if can_post
        if errors.length
                ul
                    each error in errors
                        li #{error.msg}
        form(method="post")
            div
                label(for="title") Title
                input(name="title" id="title" value=`${title}`)

            div
                label(for="link") Link(optional)
                input(name="link" id="link" value=`${link}`)

            div
                label(for="text_content") Content(optional)
                textarea(name="text_content" id="text_content") #{textContent}

            div
                input(type="submit" value="Create Post")
    else
        |You don't have permission to post here.
