extends layout

block content
    h2.pageh1 Authorize App

    form(method="post")
        div App <b>#{app_name}</b> would like to access your account.
        div
            input(type="submit" value="Confirm")
