extends layout

block content
    h1 Privacy Policy
    p
        |#{siteName} uses a small amount of personal information for users.
    p
        |IP addresses may be used by default by software libraries that we use. However, we don't use IP addresses in our own application source code.

    p
        |Each user must select a username. When you write a post or comment your username will be publicly shown. Thus, if you put personal information in your username then you may give away your identity.

    p
        |Each user must select a password. We store your password securely in a database so that no one can see it. Even though we store passwords securely you should use a different password for each website and application.

    p
        |We do not use email addresses.

    p
        |Two cookies are used. One is the session cookie if you log in, and the other is the settings if you're logged out and click save on the #[a(href="/settings") settings page].

    p
        |We don't use any social trackers or pixels, or anything of a similar nature.

    p
        |We do not use any other standard personal information such as first name, last name, address or payment info.
