extends layout

block content
    h2 Privacy Policy
    p
        |Peaches 'n' Stink currently does not use any personal information on the site. 
        |Your IP address may be logged or used by software that we use(by default), 
        |but we currently do not knowingly use IP addresses in the web-based application.
    p
        |There is currently no way to use an email address, but we will probably allow it eventually.

    p
        |Four cookies are used but they are only for site functionality. The four cookies are: the session cookie(for logging in); a timezone cookie; an allow list cookie; and the view mode cookie. The last three cookies correspond to the three settings on the settings page.
    p
        |We don't use any front-end trackers.
