extends layout

append head
    link(rel='stylesheet', href='/stylesheep3/sign-up.css')

block content
    if errors.length
        ul
            each error in errors
                li #{error.msg}
    form(method="post")
        div
            label(for="username") Username
            input(name="username" id="username")
        div
            label(for="password") Password
            input(name="password" id="password" type="password" )
        div
            input(type="submit" value="Sign Up")
