extends layout

append head
    link(rel='stylesheet', href='/cillmit99b/sign-up.css')

block content
    - const isLogin = is_login === 'yes'

    h2.pageh1 Sign Up

    if errors.length
        ul.uerror1
            each error in errors
                li #{error.msg}
    form(method="post")
        div
            label(for="username") Username
            input(name="username" id="username" value=username)
        div
            label(for="password") Password
            input(name="password" id="password" type="password" )
        div
            input(type="checkbox" id="is_login" name="is_login" value="yes" checked=isLogin)
            label(for="is_login") Log in now
        div
            input(type="submit" value="Sign Up")
