header, nav, main, footer, section {
  display: block;
}

body {
  margin-bottom: 48px;
  margin-bottom: 3rem;
}

.main-logo {
  font-size: 32px;
  font-size: 2rem;
}

.main-nav, .settings-nav {
  margin-bottom: 12px;
  margin-bottom: .75rem;
}

.main-nav ul, .main-footer-nav ul, .settings-nav ul {
  padding: 0;
  margin: 0;
  list-style-type: none;
}

.main-nav ul li, .settings-nav ul li {
  display: inline-block;
  padding: 0;
  margin: 0 10px 12px 0;
  margin: 0 .625rem .75rem 0;
}

.main-footer-nav ul li {
  display: inline-block;
  padding: 0;
  margin: 12px 10px 0 0;
  margin: .75rem .625rem 0 0;
}

.main-nav a, .main-footer-nav a, .settings-nav a {
  text-decoration: none;
}

.main-footer {
  margin-top: 20px;
  margin-top: 1.25rem;
}

.comments > ul {
  padding-left: 24px;
  padding-left: 1.5rem;
}

.comments li ul {
  padding-left: 18px;
  padding-left: 1.125rem;
}

.comments li {
  margin-top: 18px;
  margin-top: 1.125rem;
}

.comments :target {
  background: #faf7f1;
  padding: 3px;
  border: 2px solid #ebbc58;
}

.posts > div:last-child {
  margin-bottom: 21px;
  margin-bottom: 1.3125rem;
}

.mod-posts > div {
  margin-bottom: 12px;
}

.mod-posts form {
  display: inline;
}

.the-post h1 {
  margin: 0 0 2px 0;
  margin: 0 0 .125rem 0;
  padding: 0;
}

.the-post h1 a {
  text-decoration: none;
  font-weight: normal;
}

.the-post .the-post-content,
.the-comment-content {
  margin: 8px 0 0 0;
}

.backpost-nav {
  margin: 10px 0;
}

.backpost-nav a, .more {
  padding: 4px 6px;
  text-decoration: none;
}

.main-logo img {
  width: 50px;
  height: 50px;
  margin-right: 4px;
}

.main-logo a {
  text-decoration: none;
  display: flex;
  align-items: center;
}

.main-logo a #peaches {
  color: #d1803a;
}

.main-logo a #stink {
  color: #6d4006;
}

.follow {
  text-decoration: none;
  padding: 0 4px;
}

.unfollow {
  text-decoration: none;
  padding: 0 6px;
}

.tag1 {
  text-decoration: none;
  padding: 1px 2px;
  border-radius: 2px;
}

.puser, .fuser {
  text-decoration: none;
}

.puser2, .cuser2 {
  text-decoration: none;
}

.clinks2 a {
  font-size: 14px;
  font-size: .875rem;
  font-weight: bold;
  text-decoration: none;
}

.cuser {
  text-decoration: none;
}

.cheader {
  margin-bottom: 2px;
  margin-bottom: .125rem;
}

.clinks {
  margin-top: 2px;
  margin-top: .125rem;
}

.clinks a {
  margin-right: 4px;
  margin-right: .25rem;
  text-decoration: none;
  font-size: 14px;
  font-size: .875rem;
  font-weight: bold;
}

.ptitle {
  font-size: 18px;
  font-size: 1.125rem;
}

pre {
  margin: 0;
  padding: 0;
}

.alert1o {
  margin-top: 16px;
  margin-top: 1rem;
}

.alert2o {
  margin-bottom: 2px;
  margin-bottom: .125rem;
}

.alert3o {
  margin-bottom: 16px;
  margin-bottom: 1rem;
}

.alert1 a, .alert2 a, .alert3 a {
  text-decoration: none;
}

#write-comment {
  margin: 16px 0 16px 0;
  margin: 1rem 0 1rem 0;
}

h1 {
  margin: 0 0 16px 0;
  margin: 0 0 1rem 0;
}

.in-h1-url {
  font-size: 16px;
  font-size: 1rem;
  font-weight: normal;
}

.domname1 {
  font-size: 14px;
  font-size: .875rem;
}

.pinfo1 {
  margin-top: 2px;
  margin-top: .125rem;
}

.sort1o {
  margin-bottom: 16px;
  margin-bottom: 1rem;
}

.sort1 a {
  margin-left: 4px;
  margin-left: .25rem;
  text-decoration: none;
}
