.main-logo a #peaches {
    color: #d1803a;
}
  
.main-logo a #stink {
    color: #6d4006;
}

#curr-castle, .main-nav .sub-nav-item {
    color: #b8098f;
}

body, .sort1 .curr-sort, .cheader a:hover, .pinfo1, .pinfo1-under, .pinfo1 a, .pinfo1-under a, .pinfo-s a:hover {
    color: #232323;
}

.cheader, .cheader a, .pinfo1 a:hover, .pinfo1-under a:hover, .pinfo-s, .pinfo-s a {
    color: #6c6c69;
}

.ptitle, .ptitle-s {
    color: #0000ff;
}

.ptitle:visited, .ptitle-s:visited {
    color: #551a8b;
}

.domname1 {
    color: #50794b;
}

.sort1 a {
    color: #0000d2;
}

.main-nav a, .settings-nav a {
    color: #4b4949;
}

.main-footer a {
    color: #9b4747;
}

.backpost-nav a, .more {
    background: #ffcc80;
    color: #000000;
    border: 1px solid #000000;
}

.clinks a {
    color: #994949;
}

pre {
    background: #e2e2e2;
    color: #232323;
}

.main-text pre a, .the-post-content pre a, .cmeat pre a, .the-comment-content pre a {
    color: #0000ff;
}

.uerror1 {
    color: #bb0000;
}

.usuccess1 {
    color: #009900;
}

main em {
    background: #e8e8e8;
    color: #232323;
}

.main-text a, .the-post-content a, .cmeat a, .the-comment-content a {
    color: #0000ff;
}

.comments :target {
    border: 2px solid #ebbc58;
}

.cid {
    background-color: lemonchiffon;
    border: 1px solid lightgoldenrodyellow;
    color: #232323;
}
