form > div {
    margin-bottom: 12px;
    margin-bottom: .75rem;
}

form label {
    display: block;
}

.fdel {
    display: inline;
}

.memlist {
    margin-bottom: 4px;
    margin-bottom: .25rem;
}
