header, nav, main, footer, section {
  display: block;
}

body {
  color: #232323;
  margin-bottom: 48px;
  margin-bottom: 3rem;
}

.main-logo {
  margin: 0;
  padding: 0;
}

.main-nav, .settings-nav {
  margin-bottom: 12px;
  margin-bottom: .75rem;
}

.main-nav ul, .main-footer-nav ul, .settings-nav ul {
  padding: 0;
  margin: 0;
  list-style-type: none;
}

.main-nav ul li, .settings-nav ul li {
  display: inline-block;
  padding: 0;
  margin: 0 10px 12px 0;
  margin: 0 .625rem .75rem 0;
}

.main-footer-nav ul li {
  display: inline-block;
  padding: 0;
  margin: 12px 10px 0 0;
  margin: .75rem .625rem 0 0;
}

.main-nav a, .settings-nav a {
  color: #3e4a55;
}

.main-nav a, .main-footer-nav a, .settings-nav a {
  text-decoration: none;
}

.main-footer {
  margin-top: 20px;
  margin-top: 1.25rem;
}

.main-footer a {
  color: #616e7c;
}

.comments > ul {
  padding-left: 24px;
  padding-left: 1.5rem;
}

.comments li ul {
  padding-left: 18px;
  padding-left: 1.125rem;
}

.comments li {
  margin-top: 18px;
  margin-top: 1.125rem;
}

.comments :target {
  background: #eaffeb;
  padding: 3px;
  border: 2px solid #1eaa25;
}

.posts > div {
  margin-bottom: 18px;
  margin-bottom: 1.125rem;
}

.mod-posts > div {
  margin-bottom: 12px;
}

.mod-posts form {
  display: inline;
}

.the-post h3 {
  margin: 0 0 2px 0;
  margin: 0 0 .125rem 0;
  padding: 0;
}

.the-post .the-post-content,
.the-comment-content {
  background: #f9f9f9;
  border: 1px solid #cccccc;
  margin: 4px 0 3px 0;
  padding: 6px;
}

.the-post .the-post-content pre,
.the-comment .the-comment-content pre {
  background: #e2e2e2;
}

.backpost-nav {
  margin: 10px 0;
}

.backpost-nav a, .more {
  padding: 4px 6px;
  background: #f4e8de;
  color: #000000;
  text-decoration: none;
  border: 1px solid #000000;
}

.main-logo a {
  text-decoration: none;
  color: #33331a;
}

.main-logo a #peaches {
  color: #c0c0c0;
}

.main-logo a #stink {
  color: #708090;
}

.follow {
  background: #d9d9d9;
  text-decoration: none;
  color: black;
  padding: 0 4px;
  border: 1px solid #666666;
}

.follow:hover {
  background: #d9d9d9;
}

.unfollow {
  background: #fdb8db;
  text-decoration: none;
  color: black;
  padding: 0 6px;
  border: 1px solid #666666;
}

.unfollow:hover {
  background: #e6b6b6;
}

.tag1 {
  color: #fefefe;
  background: #875630;
  text-decoration: none;
  padding: 1px 2px;
  border-radius: 2px;
}

.puser2, .pdate2, .pcount2, .cuser2,
.cdate2, .cby2, .clinks2-single a, .clinks2 a {
  color: #b2b2b2;
}

.clinks2 a {
  font-size: 14px;
  font-size: .875rem;
  font-weight: bold;
  text-decoration: none;
}

.plinks a {
  color: #0000d2;
}

.cuser {
  color: #5f5f64;
}

.cdate, .cby {
  color: #9b9292;
}

.cheader {
  margin-bottom: 2px;
  margin-bottom: .125rem;
}

.clinks {
  margin-top: 2px;
  margin-top: .125rem;
}

.clinks a {
  color: #724523;
  margin-right: 4px;
  margin-right: .25rem;
  text-decoration: none;
  font-size: 14px;
  font-size: .875rem;
  font-weight: bold;
}

.clinks-single a {
  color: #0000d2;
}

.ptitle {
  font-size: 18px;
  font-size: 1.125rem;
}

pre {
  margin: 0;
  padding: 0;
  background: #f1f1f1;
}

.alert1 {
  background: #f4e8de;
}

.alert1o {
  margin-top: 16px;
  margin-top: 1rem;
}

.alert2 {
  background: #f4e8de;
}

.alert2o {
  margin-bottom: 2px;
  margin-bottom: .125rem;
}

.alert1 a, .alert2 a {
  color: #0000d2;
  text-decoration: none;
}

#write-comment {
  margin: 16px 0 16px 0;
  margin: 1rem 0 1rem 0;
}

.pageh1 {
  margin: 0 0 16px 0;
  margin: 0 0 1rem 0;
}

.pageh1 a {
  font-size: 16px;
  font-size: 1rem;
  font-weight: normal;
  color: #0000d2;
}

.domname1 {
  color: #50794b;
  font-size: 14px;
  font-size: .875rem;
}

.pinfo1 {
  margin-top: 2px;
  margin-top: .125rem;
}

.sort1o {
  margin-bottom: 16px;
  margin-bottom: 1rem;
}

.sort1 a {
  color: #0000d2;
  margin-left: 4px;
  margin-left: .25rem;
  text-decoration: none;
}
