header, nav, main, footer, section {
  display: block;
}

body {
  background: #fefefe;
  color: #232323;
  margin-bottom: 48px;
  margin-bottom: 3rem;
}

.main-logo {
  margin: 0;
  padding: 0;
}

.main-nav {
  margin-bottom: 12px;
  margin-bottom: .75rem;
}

.main-nav ul, .main-footer-nav ul {
  padding: 0;
  margin: 0;
  list-style-type: none;
}

.main-nav ul li, .main-footer-nav ul li {
  display: inline-block;
  padding: 0;
  margin: 0 10px 12px 0;
}

.main-nav a {
  color: #4b4949;
}

.main-footer {
  margin-top: 32px;
  margin-top: 2rem;
}

.main-footer a {
  color: #9b4747;
}

.comments li {
  margin-top: 18px;
  margin-top: 1.125rem;
}

.comments :target {
  background: #faf7f1;
  padding: 3px;
  border: 2px solid #ebbc58;
}

.posts > div {
  margin-bottom: 18px;
  margin-bottom: 1.125rem;
}

.mod-posts > div {
  margin-bottom: 12px;
}

.mod-posts form {
  display: inline;
}

.the-post h3 {
  margin: 0 0 4px 0;
  padding: 0;
}

.the-post .the-post-content,
.the-comment-content {
  background: #f9f9f9;
  border: 1px solid #cccccc;
  margin: 4px 0 3px 0;
  padding: 6px;
}

.the-post .the-post-content pre,
.the-comment .the-comment-content pre {
  background: #e2e2e2;
}

.backpost-nav {
  margin: 10px 0;
}

.backpost-nav a, .more {
  padding: 4px 6px;
  background: #ffcc80;
  color: #000000;
  text-decoration: none;
  border: 1px solid #000000;
}

.main-logo a {
  text-decoration: none;
  color: #33331a;
}

.main-logo a #peaches {
  color: #d1803a;
}

.main-logo a #stink {
  color: #6d4006;
}

.follow {
  background: #cbeed1;
  text-decoration: none;
  color: black;
  padding: 0 4px;
  border: 1px solid #666666;
}

.follow:hover {
  background: #b7e6bf;
}

.unfollow {
  background: #f3cece;
  text-decoration: none;
  color: black;
  padding: 0 6px;
  border: 1px solid #666666;
}

.unfollow:hover {
  background: #e6b6b6;
}

.tag1 {
  color: #030303;
  background: #e6e7dc;
  text-decoration: none;
  padding: 1px 2px;
  border-radius: 2px;
}

.tag2 {
  color: #030303;
  background: #f5efdd;
  text-decoration: none;
  padding: 3px;
  margin: 7px;
  display: inline-block;
}

.tag2 span {
  background: #f0bcf0;
}

.puser2, .pdate2, .pcount2, .cuser2,
.cdate2, .cby2, .clinks2-single a, .clinks2 a {
  color: #b2b2b2;
}

.clinks2 a {
  font-size: 14px;
  font-size: .875rem;
  font-weight: bold;
  text-decoration: none;
}

.plinks a {
  color: #0000d2;
}

.cuser {
  color: #5f5f64;
}

.cdate, .cby {
  color: #9b9292;
}

.cheader {
  margin-bottom: 2px;
  margin-bottom: .125rem;
}

.clinks {
  margin-top: 2px;
  margin-top: .125rem;
}

.clinks a {
  color: #b14f4f;
  margin-right: 4px;
  margin-right: .25rem;
  text-decoration: none;
  font-size: 14px;
  font-size: .875rem;
  font-weight: bold;
}

.clinks-single a {
  color: #0000d2;
}

.ptitle {
  font-size: 20px;
  font-size: 1.25rem;
}

pre {
  margin: 0;
  padding: 0;
  background: #f1f1f1;
}

.alert1 {
  background: #f8edbd;
}

.alert1o {
  margin-top: 16px;
  margin-top: 1rem;
}

.alert2 {
  background: #f8edbd;
}

.alert2o {
  margin-bottom: 12px;
  margin-bottom: .75rem;
}

#write-comment {
  margin: 16px 0 16px 0;
  margin: 1rem 0 1rem 0;
}

/**/
@media(max-width: 640px) {
  .comments > ul {
    padding-left: 24px;
    padding-left: 1.5rem;
  }

  .comments li ul {
    padding-left: 16px;
    padding-left: 1rem;
  }
}
