body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
  color: #ff2222;
}

nav {
  margin-bottom: 6px;
}

nav a, nav span {
  margin: 0 4px;
}

nav a:first-child {
  margin: 0 4px 0 0;
}
