body {
  background: #fefefe;
  color: #4e4e4e;
}

.main-nav ul, .post-nav ul, .group-admin-nav ul,
.group-moderate-nav ul {
  padding: 0;
  margin: 0;
  list-style-type: none;
}

.main-nav ul li, .post-nav ul li, .group-admin-nav ul li,
.group-moderate-nav ul li {
  display: inline;
  padding: 0;
  margin: 0 6px 0 0;
}

.main-nav a, .post-nav a, .group-admin-nav a,
.group-moderate-nav a {
  color: #ff4444;
}

.comments li em {
  color: #9f9fa7;
}

.posts > div {
  margin-bottom: 14px;
}

.the-post h3 {
  margin-bottom: 0;
  padding-bottom: 0;
}

.the-post .the-post-content,
.the-comment p {
  background: #f2f2f2;
  border: 1px solid #666666;
  margin: 3px 0;
  padding: 4px;
}

.backpost-nav {
  margin: 10px 0;
}

.backpost-nav a {
  padding: 4px 6px;
  background: #ffcc80;
  color: #000000;
  text-decoration: none;
  border: 1px solid #000000;
}
