body {
  background: #fefefe;
  color: #4e4e4e;
}

nav {
  margin-bottom: 6px;
}

nav a, nav span {
  margin: 0 4px;
}

nav a:first-child {
  margin: 0 4px 0 0;
}

nav a {
  color: #ff4444;
}

.comments li em {
  color: #9f9fa7;
}
