extends layout

append head
    link(rel='stylesheet', href=`${cssDir}/delete-post.css`)

block content
    h1 Delete Post

    div
        |Are you sure you want to delete the post titled 
        |"#{title}"? The post and all its comments will be permanently deleted.

    form(method="post")
        input(type="hidden" name="sflag" value="cat")
        input(type="submit" value="Yes, Delete This Post")
