extends layout

append head
    link(rel='stylesheet', href=`${cssDir}/delete-comment.css`)

block content
    h1 Delete Comment

    div
        |Are you sure you want to delete the comment that starts with 
        |"#{text_content.substring(0, 40)}"? The comment and all its sub comments will be permanently deleted.

    form(method="post")
        input(type="hidden" name="sflag" value="cat")
        input(type="submit" value="Yes, Delete This Comment")
