extends layout

block content
    h1 Direct Messages

    if errors && errors.length
            ul.uerror1
                each error in errors
                    li #{error}
    form(method="post")
        div
            label(for="to") To
            input(name="to" id="to" value=to)

        div
            label(for="message") Message
            textarea(name="message" id="message")=message

        div
            input(type="submit" value="Send")

    div
        each dmu in dmed_users
            div
                a(href=`/dms/${dmu.dmed_user_public_id}`)=dmu.dmed_username
                | 
                |last on 
                =dmu.most_recent
