extends layout

append head
    if comment_reply_mode == 'quick'
        script(src=`${jsDir}/shared.js`)

include bbCodes.pug
include userContent.pug

block content
    h1 Inbox

    if comments.length
        .comments
            ul
                for c in comments
                    li
                        - const isSubMod = user.user_id == c.lead_mod
                        +ucListComment(c, user, comment_reply_mode, false, isSubMod)
        div
            a(class="more" href=`/inbox?p=${page + 1}`) more &gt;
    else
        div.no-comments no comments yet
