extends layout

append head
    link(rel='stylesheet', href=`${cssDir}/login.css`)

block content
    h1 Log In

    if errors.length
        ul.uerror1
            each error in errors
                li #{error}
    form(method="post")
        div
            label(for="username") Username
            input(name="username" id="username")
        div
            label(for="password") Password
            input(name="password" id="password" type="password")
        div
            input(type="submit" value="Log In")
