extends layout

block content
    h1 Settings

    nav.settings-nav
        ul
            if user
                li
                    a(href="/settings") general
                li
                    a(href="/settings/colors") colors
                li
                    a(href="/settings/username") username
                li
                    a(href="/settings/profile") profile
                li
                    a(href="/settings/groups") groups
                li
                    a(href="/settings/app-ids") app IDs
            else
                li
                    a(href="/settings") general
                li
                    a(href="/settings/colors") colors
    div
        block content2
