extends my-settings-top

block head
    link(rel='stylesheet', href=`${cssDir}/my-settings-sensitive.css`)

block content2

    if success
        ul.usuccess1
            li=success

    if errors.length
        ul.uerror1
            each error in errors
                li #{error.msg}

    form(method="post")
        div
            label(for="npassword") New Password
            input(name="npassword" id="npassword" type="password")
        div
            label(for="cpassword") Confirm New Password
            input(name="cpassword" id="cpassword" type="password")
        div
            label(for="epassword") Existing Password
            input(name="epassword" id="epassword" type="password")
        div
            input(type="submit" value="Save")
