extends layout

append head
    link(rel='stylesheet', href=`${cssDir}/subs.css`)

include bbCodes.pug

block content
    h1 Subs List

    if num_pages == 0
        span there are no subs
    else if page > num_pages
        span there are only #{num_pages} page(s)
    else
        each sub in subs
            div
                a(href=`/r/${sub.slug}`)=sub.slug
                div
                    +bbCodes(sub.sub_desc)

        if page < num_pages
            div
                a(class="more" href=`/subs?p=${page + 1}`) more &gt;