extends layout

append head
    link(rel='stylesheet', href=`${cssDir}/subs.css`)

include bbCodes.pug

block content
    h1 Subs List

    each sub in subs
        div
            a(href=`/r/${sub.slug}`)=sub.slug
            div
                +bbCodes(sub.sub_desc)

    div
        a(class="more" href=`/subs?p=${page + 1}`) more &gt;
