header, nav, main, footer, section {
  display: block;
}

body {
  background: #fefefe;
  color: #232323;
  margin-bottom: 48px;
  margin-bottom: 3rem;
}

.main-logo {
  margin: 0;
  padding: 0;
}

.main-nav ul, .main-footer-nav ul {
  padding: 0;
  margin: 0;
  list-style-type: none;
}

.main-nav ul li, .main-footer-nav ul li {
  display: inline-block;
  padding: 0;
  margin: 0 10px 12px 0;
}

.main-nav a {
  color: #ee4a4a;
}

.main-footer {
  margin-top: 32px;
  margin-top: 2rem;
}

.main-footer a {
  color: #9b4747;
}

.comments li {
  margin-top: 2px;
  margin-top: .125rem;
}

.posts > div {
  margin-bottom: 12px;
}

.mod-posts > div {
  margin-bottom: 12px;
}

.mod-posts form {
  display: inline;
}

.the-post h3 {
  margin: 0;
  padding: 0;
}

.the-post .the-post-content,
.the-comment-content {
  background: #f2f2f2;
  border: 1px solid #666666;
  margin: 3px 0;
  padding: 4px;
}

.the-post .the-post-content pre,
.the-comment .the-comment-content pre {
  background: #e2e2e2;
}

.backpost-nav {
  margin: 10px 0;
}

.backpost-nav a {
  padding: 4px 6px;
  background: #ffcc80;
  color: #000000;
  text-decoration: none;
  border: 1px solid #000000;
}

.main-logo a {
  text-decoration: none;
  color: #33331a;
}

.main-logo a #peaches {
  color: #d1803a;
}

.main-logo a #stink {
  color: #6d4006;
}

.follow {
  background: #cbeed1;
  text-decoration: none;
  color: black;
  padding: 0 4px;
  border: 1px solid #666666;
}

.follow:hover {
  background: #b7e6bf;
}

.unfollow {
  background: #f3cece;
  text-decoration: none;
  color: black;
  padding: 0 6px;
  border: 1px solid #666666;
}

.unfollow:hover {
  background: #e6b6b6;
}

.tag1 {
  color: #030303;
  background: #e6e7dc;
  text-decoration: none;
  padding: 1px 2px;
  border-radius: 2px;
}

.tag2 {
  color: #030303;
  background: #f5efdd;
  text-decoration: none;
  padding: 3px;
  margin: 7px;
  display: inline-block;
}

.tag2 span {
  background: #f0bcf0;
}

.puser, .cuser {
  color: #292828;
  font-weight: bold;
}

.puser2, .cuser2 {
  color: #a3a1a1;
  font-weight: bold;
}

.pdate, .cdate {
  color: #5a5a53;
}

.pdate2, .cdate2 {
  color: #a3a1a1;
}

pre {
  margin: 0;
  padding: 0;
  background: #fef5f5;
}

.edit-link {
  color: #865d04;
}

.alert1 {
  background: #f8edbd;
}

.alert1o {
  margin-top: 8px;
  margin-top: .5rem;
}

.alert2 {
  background: #f8edbd;
}

.alert2o {
  margin-bottom: 12px;
  margin-bottom: .75rem;
}
